
@font-face {
	font-family: 'Oswald'; 
	src: url(../fonts/Oswald-Regular.ttf); 
}
@font-face {
	font-family: 'OswaldLight'; 
	src: url(../fonts/Oswald-Light.ttf); 
}
@font-face {
	font-family: 'OswaldExtraLight'; 
	src: url(../fonts/Oswald-ExtraLight.ttf); 
}
*{
    margin: 0;
    padding: 0;
}
p{
    font-family: 'Oswald';
}
h1{
    font-family: 'OswaldLight';
}
a{
    font-family: 'Oswald';
    color: black;
    text-decoration: none;
}
li{
    list-style-type: none;
}
.style-button{
    border: none;
    padding: 10px 80px;
    font-size: calc(20px + 8 * (100vw - 320px) / 880);
    color: #fff;
    background: #cb997e;
    border-radius: 5px;
}

#about_us{
    display: grid;
    width: 100%;
    padding: 6vh 0;
}
.title-h1{
    font-size: 120px;
}

/* #bg-img{
    position: fixed;
    top: 0;
    left: 0;

    background-image: url(../img/background/img-sushi-1.png);
    background-repeat: no-repeat;
    background-size: 150vh;
    background-position: -50% 50%;
    width: 100%;
    height: 150vh;
    padding-top: 40vh;
}
#about_us{
    position: relative;
    width: 100%;
    z-index: 1;
}
#content{ 
    width: 100%;
    height: 150vh;  
    display: grid;
    align-content: space-between;
} */

.bg-img{
    background-image: url(../img/background/img-sushi-1.png);
    background-repeat: no-repeat;
    background-size: 150vh;
    background-position: -50% 50%;
}
#content{
    height: 140vh;
    
    display: grid;
    align-content: space-between;
}
p#first-text{
    width: 80%;
    padding-left: 20%;
    font-size: calc(30px + 8 * (100vw - 320px) / 880);
    line-height: 1.5;
    text-align: start;
    padding-top: 10vh;
}
p#second-text{
    width: 80%;
    font-size: calc(30px + 8 * (100vw - 320px) / 880);
    padding-bottom: 10vh;
}

#img-slide {
    padding: 15vh 0 10vh 0;
    overflow: hidden;
}
#img-slide > div {
    display: flex;
    animation: slide-to-left 10s linear infinite;
}
#img-slide > div > * {
    min-width: calc(100% / 3);
    padding-left: 10px;
}
@keyframes slide-to-left {
    100% { transform: translateX(calc(-100% * (4 / 3))) }
}
.btn-show-more{
    text-align: center;
}

@media (max-width: 780px) {
    .title-h1{
        font-size: calc(60px + 8 * (100vw - 320px) / 880);
    }
    .bg-img{
        background-size: 80vh;
    }
    #content{
        height: 80vh;
    }
    p#first-text{
        padding-top: 0;
    }
    p#first-text, p#second-text{
        font-size: calc(20px + 8 * (100vw - 320px) / 880);
    }
    #img-slide {
        padding: 5vh 0 10vh 0;
    }
}

@media (max-width: 360px) {
    .bg-img{
        background-size: 60vh;
    }
    .style-button{
        font-size: calc(15px + 8 * (100vw - 320px) / 880);
    }
}